body { 
    padding-top: 65px; 

}

.navbar-brand{
	font-size: x-large;
}

.margin1{
	margin-top: 1em;
}

.aligned-row {
  display: flex;
  flex-flow: row wrap;
}

.vcenter {
     display: flex;
     align-items: center;
}

.navblue{
	background-color: #4F81BD;
	  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
	
}

.navwhite{
	color: #FFFFFF;
}

.bggray{
	background-color: #F7F7F9;
	padding: 1em;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
	border-radius: 6px;
}

.btn{
	padding-right: 2em;
	padding-left: 2em;
}

.row.margin1.aligned-row:hover{
	background-color: #E6E6E6;
}

.row.margin1.aligned-row:active{
	background-color: #D0D0D0;
}

.break{
	display:inline-block;
}

